.Home {
  text-align: center;
}

.header-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header-link:hover {
  color: rgb(152, 152, 213);

}

.prev-models {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80vw;
  justify-content: left;
  border: 2px #cbd5e1 dashed;
  border-radius: 1rem;

}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}


