.header-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 3rem;
}

.header-link:hover {
    color: rgb(152, 152, 213);
}

.Header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}